:root {
    --sapBrandColor: var(--sapPrimary2);
	--sapBaseColor: var(--sapPrimary3);
	--sapShellColor: var(--sapPrimary1);

	--sapFontFamily: "72", "72full", Arial, Helvetica, sans-serif;
	--sapFontSize: calc(0.875 * var(--sapContent_GridSize));
	--sapTextColor: var(--sapPrimary6);
	--sapLinkColor: var(--sapPrimary2);
	--sapCompanyLogo: none;
	--sapBackgroundImage: none;
	--sapBackgroundImageOpacity: 1.0;
	--sapBackgroundImageRepeat: false;

	--sapContent_GridSize: 1rem;

	--sapPrimary1: #354a5f;
	--sapPrimary2: #0a6ed1;
	--sapPrimary3: #fff;
	--sapPrimary4: #edeff0;
	--sapPrimary5: #89919a;
	--sapPrimary6: #32363a;
	--sapPrimary7: #6a6d70;

	--sapAccentColor1: #d08014;
	--sapAccentColor2: #d04343;
	--sapAccentColor3: #db1f77;
	--sapAccentColor4: #c0399f;
	--sapAccentColor5: #6367de;
	--sapAccentColor6: #286eb4;
	--sapAccentColor7: #0f828f;
	--sapAccentColor8: #7ca10c;
	--sapAccentColor9: #925ace; 
	--sapAccentColor10: #647987;

	--sapErrorBorderColor: var(--sapNegativeColor);
	--sapWarningBorderColor: var(--sapCriticalColor);
	--sapSuccessBorderColor: var(--sapPositiveColor);
	--sapInformationBorderColor: var(--sapInformativeColor);
	--sapNeutralBorderColor: var(--sapNeutralColor);

	--sapNegativeElementColor: var(--sapNegativeColor);
	--sapCriticalElementColor: var(--sapCriticalColor);
	--sapPositiveElementColor: var(--sapPositiveColor);
	--sapInformativeElementColor: var(--sapInformativeColor);
	--sapNeutralElementColor: var(--sapNeutralColor);

	--sapNegativeTextColor: var(--sapNegativeColor);
	--sapCriticalTextColor: var(--sapCriticalColor);
	--sapPositiveTextColor: var(--sapPositiveColor);

	--sapNeutralTextColor: var(--sapNeutralColor);

	--sapNegativeColor: #bb0000;
	--sapCriticalColor: #e9730c;
	--sapPositiveColor: #107e3e;
	--sapInformativeColor: #0a6ed1;
	--sapNeutralColor: #6a6d70;
	--sapErrorColor: var(--sapNegativeColor);
	--sapWarningColor: var(--sapCriticalColor);
	--sapSuccessColor: var(--sapPositiveColor);
	--sapInformationColor: var(--sapInformativeColor);
	--sapIndicationColor_1: #880000;
	--sapIndicationColor_2: #bb0000;
	--sapIndicationColor_3: #e9730c;
	--sapIndicationColor_4: #107e3e;
	--sapIndicationColor_5: #0a6ed1;

	--sapSelectedColor: var(--sapHighlightColor);
	--sapActiveColor: var(--sapHighlightColor);
	--sapTitleColor: var(--sapTextColor);
	--sapElement_LineHeight: calc(2.75 * var(--sapContent_GridSize));
	--sapElement_Height: calc(2.25 * var(--sapContent_GridSize));
	--sapElement_BorderWidth: calc(0.0625 * var(--sapContent_GridSize));
	--sapContent_LineHeight: 1.4;
	--sapContent_ElementHeight: 1.37em;
	--sapContent_ElementHeight_PX: 22px;
	--sapContent_IconHeight: var(--sapContent_GridSize);
	--sapContent_IconColor: var(--sapHighlightColor);
	--sapContent_ContrastIconColor: var(--sapContent_ContrastTextColor);
	--sapContent_NonInteractiveIconColor: var(--sapPrimary7);

	--sapContent_ImagePlaceholderForegroundColor: var(--sapBaseColor);
	--sapContent_FocusColor: #000;
	--sapContent_ContrastFocusColor: #fff;
	--sapContent_ShadowColor: #000;
	--sapContent_ContrastShadowColor: #fff;
	--sapContent_SearchHighlightColor: #ebf5fe;
	--sapContent_HelpColor: #3f8600;
	--sapContent_LabelColor: var(--sapPrimary7);
	--sapContent_MonospaceFontFamily: lucida console, monospace;
	--sapContent_DisabledOpacity: 0.4;
	--sapContent_ContrastTextThreshold: 0.65;
	--sapContent_ContrastTextColor: #fff;

	--sapContent_ForegroundBorderColor: var(--sapPrimary5);
	--sapShell_Background: var(--sapPrimary4);
	--sapShell_BackgroundImage: none;
	--sapShell_BackgroundImageOpacity: 1.0;
	--sapShell_BackgroundImageRepeat: false;
	--sapShell_BackgroundPatternColor: transparent;
	--sapShell_BackgroundGradient: none;
	--sapShell_BorderColor: var(--sapShellColor);
	--sapShell_InteractiveTextColor: #d1e8ff;
	--sapShell_Favicon: none;
	--sapButton_BorderWidth: var(--sapElement_BorderWidth);
	--sapButton_BorderCornerRadius: calc(0.25 * var(--sapContent_GridSize));
	--sapButton_Background: var(--sapBaseColor);
	--sapButton_Hover_BorderColor: var(--sapButton_BorderColor);

	--sapButton_Emphasized_Background: var(--sapBrandColor);
	--sapButton_Emphasized_BorderColor: var(--sapButton_Emphasized_Background);
	--sapButton_Reject_Background: var(--sapButton_Background);
	--sapButton_Accept_Background: var(--sapButton_Background);
	--sapField_Background: var(--sapBaseColor);
	--sapField_BorderColor: var(--sapPrimary5);
	--sapField_TextColor: var(--sapTextColor);
	--sapField_HelpBackground: var(--sapField_Background);
	--sapField_BorderWidth: var(--sapElement_BorderWidth);
	--sapField_BorderCornerRadius: 0;
	--sapField_Hover_Background: var(--sapField_Background);
	--sapField_Hover_BorderColor: var(--sapHighlightColor);
	--sapField_Hover_HelpBackground: var(--sapButton_Hover_Background);
	--sapField_Focus_Background: var(--sapField_Background);
	--sapField_Focus_BorderColor: var(--sapField_BorderColor);
	--sapField_Focus_HelpBackground: var(--sapField_Focus_Background);

	--sapField_ReadOnly_BorderColor: var(--sapField_BorderColor);
	--sapField_ReadOnly_HelpBackground: var(--sapField_ReadOnly_Background);
	--sapField_InvalidColor: var(--sapErrorBorderColor);
	--sapField_InvalidBackground: var(--sapField_Background);
	--sapField_WarningColor: var(--sapWarningBorderColor);
	--sapField_WarningBackground: var(--sapField_Background);
	--sapField_SuccessColor: var(--sapSuccessBorderColor);
	--sapField_SuccessBackground: var(--sapField_Background);
	--sapGroup_TitleBackground: transparent;

	--sapGroup_Title_FontSize: var(--sapFontSize);
	--sapGroup_ContentBackground: var(--sapBaseColor);
	--sapGroup_BorderWidth: var(--sapElement_BorderWidth);
	--sapGroup_BorderCornerRadius: 0;
	--sapGroup_FooterBackground: transparent;
	--sapToolbar_Background: transparent;

	--sapList_HeaderBorderColor: var(--sapList_BorderColor);

	--sapList_BorderWidth: var(--sapElement_BorderWidth);
	--sapList_HighlightColor: var(--sapHighlightColor);
	--sapList_Background: var(--sapBaseColor);
	--sapScrollBar_BorderColor: var(--sapScrollBar_FaceColor);
	--sapScrollBar_SymbolColor: var(--sapContent_IconColor);
	--sapScrollBar_Dimension: calc(0.7 * var(--sapContent_GridSize));
	--sapPageHeader_Background: var(--sapBaseColor);
	--sapPageFooter_Background: var(--sapBaseColor);
	--sapObjectHeader_Background: var(--sapBaseColor);
	--sapBlockLayer_Background: #000;
	--sapTile_Background: var(--sapBaseColor);
	--sapTile_BorderColor: transparent;

	--sapUiShadowText: 0 0 0.125rem var(--sapUiContentContrastShadowColor);
	--sapUiBrand: var(--sapBrandColor);
	--sapUiHighlight: var(--sapHighlightColor);
	--sapUiBaseColor: var(--sapBaseColor);
	--sapUiShellColor: var(--sapShellColor);
	--sapUiBaseBG: var(--sapBackgroundColor);
	--sapUiGlobalBackgroundColor: var(--sapBackgroundColor);
	--sapUiFontFamily: var(--sapFontFamily);
	--sapUiFontSize: 16px;
	--sapUiBaseText: var(--sapTextColor);
	--sapUiLink: var(--sapLinkColor);
	--sapUiGlobalLogo: var(--sapCompanyLogo);
	--sapUiGlobalBackgroundImage: var(--sapBackgroundImage);
	--sapUiBackgroundImage: var(--sapBackgroundImage);
	--sapUiUx3ShellBackgroundImageURL: var(--sapBackgroundImage);
	--sapUiGlobalBackgroundImageOpacity: var(--sapBackgroundImageOpacity);
	--sapUiGlobalBackgroundRepeat: var(--sapBackgroundImageRepeat);
	--sapUiSelected: var(--sapSelectedColor);
	--sapUiActive: var(--sapActiveColor);
	--sapUiHighlightTextColor: var(--sapHighlightTextColor);
	--sapUiTextTitle: var(--sapTitleColor);
	--sapUiElementLineHeight: var(--sapElement_LineHeight);
	--sapUiElementHeight: var(--sapElement_Height);
	--sapUiElementBorderWidth: var(--sapElement_BorderWidth);
	--sapUiContentLineHeight: var(--sapContent_LineHeight);
	--sapUiContentElementHeight: var(--sapContent_ElementHeight);
	--sapUiContentElementHeightPX: var(--sapContent_ElementHeight_PX);
	--sapUiContentIconHeight: var(--sapContent_IconHeight);
	--sapUiContentIconColor: var(--sapContent_IconColor);
	--sapUiContentContrastIconColor: var(--sapContent_ContrastIconColor);
	--sapUiContentNonInteractiveIconColor: var(--sapContent_NonInteractiveIconColor);
	--sapUiContentMarkerIconColor: var(--sapContent_MarkerIconColor);
	--sapUiContentMarkerTextColor: var(--sapContent_MarkerTextColor);
	--sapUiContentImagePlaceholderBackground: var(--sapContent_ImagePlaceholderBackground);
	--sapUiContentImagePlaceholderForegroundColor: var(--sapContent_ImagePlaceholderForegroundColor);
	--sapUiContentFocusColor: var(--sapContent_FocusColor);
	--sapUiContentContrastFocusColor: var(--sapContent_ContrastFocusColor);
	--sapUiContentShadowColor: var(--sapContent_ShadowColor);
	--sapUiContentContrastShadowColor: var(--sapContent_ContrastShadowColor);
	--sapUiContentSearchHighlightColor: var(--sapContent_SearchHighlightColor);
	--sapUiContentHelpColor: var(--sapContent_HelpColor);
	--sapUiContentLabelColor: var(--sapContent_LabelColor);
	--sapUiContentDisabledTextColor: var(--sapContent_DisabledTextColor);
	--sapUiContentDisabledOpacity: var(--sapContent_DisabledOpacity);
	--sapUiContentContrastTextThreshold: var(--sapContent_ContrastTextThreshold);
	--sapUiContentContrastTextColor: var(--sapContent_ContrastTextColor);
	--sapUiContentForegroundColor: var(--sapContent_ForegroundColor);
	--sapUiContentForegroundBorderColor: var(--sapContent_ForegroundBorderColor);
	--sapUiContentForegroundTextColor: var(--sapContent_ForegroundTextColor);
	--sapUiContentBadgeBackground: var(--sapContent_BadgeBackground);
	--sapUiShellBackground: var(--sapShell_Background);
	--sapUiShellBackgroundImage: var(--sapShell_BackgroundImage);
	--sapUiShellBackgroundImageOpacity: var(--sapShell_BackgroundImageOpacity);
	--sapUiShellBackgroundImageRepeat: var(--sapShell_BackgroundImageRepeat);
	--sapUiShellBackgroundPatternColor: var(--sapShell_BackgroundPatternColor);
	--sapUiShellBackgroundGradient: var(--sapShell_BackgroundGradient);
	--sapUiShellBorderColor: var(--sapShell_BorderColor);
	--sapUiShellTextColor: var(--sapShell_TextColor);
	--sapUiShellInteractiveTextColor: var(--sapShell_InteractiveTextColor);
	--sapUiShellFavicon: var(--sapShell_Favicon);
	--sapUiButtonBorderWidth: var(--sapButton_BorderWidth);
	--sapUiButtonBorderCornerRadius: var(--sapButton_BorderCornerRadius);
	--sapUiButtonBackground: var(--sapButton_Background);
	--sapUiButtonBorderColor: var(--sapButton_BorderColor);
	--sapUiButtonTextColor: var(--sapButton_TextColor);
	--sapUiButtonHoverBackground: var(--sapButton_Hover_Background);
	--sapUiButtonHoverBorderColor: var(--sapButton_Hover_BorderColor);
	--sapUiButtonHoverTextColor: var(--sapButton_Hover_TextColor);
	--sapUiButtonEmphasizedBackground: var(--sapButton_Emphasized_Background);
	--sapUiButtonEmphasizedBorderColor: var(--sapButton_Emphasized_BorderColor);
	--sapUiButtonEmphasizedTextColor: var(--sapButton_Emphasized_TextColor);
	--sapUiButtonRejectBackground: var(--sapButton_Reject_Background);
	--sapUiButtonAcceptBackground: var(--sapButton_Accept_Background);
	--sapUiFieldBorderWidth: var(--sapField_BorderWidth);
	--sapUiFieldBorderCornerRadius: var(--sapField_BorderCornerRadius);
	--sapUiFieldBackground: var(--sapField_Background);
	--sapUiFieldBorderColor: var(--sapField_BorderColor);
	--sapUiFieldTextColor: var(--sapField_TextColor);
	--sapUiFieldHelpBackground: var(--sapField_HelpBackground);
	--sapUiFieldHoverBackground: var(--sapField_Hover_Background);
	--sapUiFieldHoverBorderColor: var(--sapField_Hover_BorderColor);
	--sapUiFieldHoverHelpBackground: var(--sapField_Hover_HelpBackground);
	--sapUiFieldFocusBackground: var(--sapField_Focus_Background);
	--sapUiFieldFocusBorderColor: var(--sapField_Focus_BorderColor);
	--sapUiFieldFocusHelpBackground: var(--sapField_Focus_HelpBackground);
	--sapUiFieldReadOnlyBackground: var(--sapField_ReadOnly_Background);
	--sapUiFieldReadOnlyBorderColor: var(--sapField_ReadOnly_BorderColor);
	--sapUiFieldReadOnlyHelpBackground: var(--sapField_ReadOnly_HelpBackground);
	--sapUiFieldRequiredColor: var(--sapField_RequiredColor);
	--sapUiFieldInvalidColor: var(--sapField_InvalidColor);
	--sapUiFieldInvalidBackground: var(--sapField_InvalidBackground);
	--sapUiFieldWarningColor: var(--sapField_WarningColor);
	--sapUiFieldWarningBackground: var(--sapField_WarningBackground);
	--sapUiFieldSuccessColor: var(--sapField_SuccessColor);
	--sapUiFieldSuccessBackground: var(--sapField_SuccessBackground);
	--sapUiGroupTitleBackground: var(--sapGroup_TitleBackground);
	--sapUiGroupTitleBorderColor: var(--sapGroup_TitleBorderColor);
	--sapUiGroupTitleTextColor: var(--sapGroup_TitleTextColor);
	--sapUiGroupContentBackground: var(--sapGroup_ContentBackground);
	--sapUiGroupContentBorderColor: var(--sapGroup_ContentBorderColor);
	--sapUiGroupBorderWidth: var(--sapGroup_BorderWidth);
	--sapUiGroupFooterBackground: var(--sapGroup_FooterBackground);
	--sapUiToolbarBackground: var(--sapToolbar_Background);
	--sapUiToolbarSeparatorColor: var(--sapToolbar_SeparatorColor);
	--sapUiListHeaderBackground: var(--sapList_HeaderBackground);
	--sapUiListHeaderBorderColor: var(--sapList_HeaderBorderColor);
	--sapUiListHeaderTextColor: var(--sapList_HeaderTextColor);
	--sapUiListBorderColor: var(--sapList_BorderColor);
	--sapUiListBorderWidth: var(--sapList_BorderWidth);
	--sapUiListHighlightColor: var(--sapList_HighlightColor);
	--sapUiListSelectionBackgroundColor: var(--sapList_SelectionBackgroundColor);
	--sapUiListBackground: var(--sapList_Background);
	--sapUiListHoverBackground: var(--sapList_Hover_Background);
	--sapUiScrollBarFaceColor: var(--sapScrollBar_FaceColor);
	--sapUiScrollBarTrackColor: var(--sapScrollBar_TrackColor);
	--sapUiScrollBarBorderColor: var(--sapScrollBar_BorderColor);
	--sapUiScrollBarSymbolColor: var(--sapScrollBar_SymbolColor);
	--sapUiScrollBarDimension: var(--sapScrollBar_Dimension);
	--sapUiScrollBarHoverFaceColor: var(--sapScrollBar_Hover_FaceColor);
	--sapUiPageHeaderBackground: var(--sapPageHeader_Background);
	--sapUiPageHeaderBorderColor: var(--sapPageHeader_BorderColor);
	--sapUiPageHeaderTextColor: var(--sapPageHeader_TextColor);
	--sapUiPageFooterBackground: var(--sapPageFooter_Background);
	--sapUiPageFooterTextColor: var(--sapPageFooter_TextColor);
	--sapUiInfobarBackground: var(--sapInfobar_Background);
	--sapUiObjectHeaderBackground: var(--sapObjectHeader_Background);
	--sapUiBlockLayerBackground: var(--sapBlockLayer_Background);
	--sapUiTileBackground: var(--sapTile_Background);
	--sapUiTileBorderColor: var(--sapTile_BorderColor);
	--sapUiTileTitleTextColor: var(--sapTile_TitleTextColor);
	--sapUiTileTextColor: var(--sapTile_TextColor);
	--sapUiTileIconColor: var(--sapTile_IconColor);

	--sapUiContentGridSize: var(--sapContent_GridSize);
	--sapUiPrimary1: var(--sapPrimary1);
	--sapUiPrimary2: var(--sapPrimary2);
	--sapUiPrimary3: var(--sapPrimary3);
	--sapUiPrimary4: var(--sapPrimary4);
	--sapUiPrimary5: var(--sapPrimary5);
	--sapUiPrimary6: var(--sapPrimary6);
	--sapUiPrimary7: var(--sapPrimary7);
	--sapUiAccent1: var(--sapAccentColor1);
	--sapUiAccent2: var(--sapAccentColor2);
	--sapUiAccent3: var(--sapAccentColor3);
	--sapUiAccent4: var(--sapAccentColor4);
	--sapUiAccent5: var(--sapAccentColor5);
	--sapUiAccent6: var(--sapAccentColor6);
	--sapUiAccent7: var(--sapAccentColor7);
	--sapUiAccent8: var(--sapAccentColor8);
	--sapUiAccent9: var(--sapAccentColor9);
	--sapUiAccent10: var(--sapAccentColor10);
	--sapUiErrorBG: var(--sapErrorBackground);
	--sapUiWarningBG: var(--sapWarningBackground);
	--sapUiSuccessBG: var(--sapSuccessBackground);
	--sapUiInformationBG: var(--sapInformationBackground);
	--sapUiNeutralBG: var(--sapNeutralBackground);
	--sapUiErrorBorder: var(--sapErrorBorderColor);
	--sapUiWarningBorder: var(--sapWarningBorderColor);
	--sapUiSuccessBorder: var(--sapSuccessBorderColor);
	--sapUiInformationBorder: var(--sapInformationBorderColor);
	--sapUiNeutralBorder: var(--sapNeutralColor);
	--sapUiNegativeElement: var(--sapNegativeElementColor);
	--sapUiCriticalElement: var(--sapCriticalElementColor);
	--sapUiPositiveElement: var(--sapPositiveElementColor);
	--sapUiInformativeElement: var(--sapInformativeElementColor);
	--sapUiNeutralElement: var(--sapNeutralElementColor);
	--sapUiNegativeText: var(--sapNegativeTextColor);
	--sapUiCriticalText: var(--sapCriticalTextColor);
	--sapUiPositiveText: var(--sapPositiveTextColor);
	--sapUiInformativeText: var(--sapInformativeTextColor);
	--sapUiNeutralText: var(--sapNeutralTextColor);
	--sapUiNegative: var(--sapNegativeColor);
	--sapUiCritical: var(--sapCriticalColor);
	--sapUiPositive: var(--sapPositiveColor);
	--sapUiInformative: var(--sapInformativeColor);
	--sapUiNeutral: var(--sapNeutralColor);
	--sapUiIndication1: var(--sapIndicationColor_1);
	--sapUiIndication2: var(--sapIndicationColor_2);
	--sapUiIndication3: var(--sapIndicationColor_3);
	--sapUiIndication4: var(--sapIndicationColor_4);
	--sapUiIndication5: var(--sapIndicationColor_5);
	--sapUiFontCondensedFamily: "72 Condensed", 'Arial Narrow', HelveticaNeue-CondensedBold, Arial, sans-serif;
	--sapUiFontHeaderFamily: var(--sapUiFontFamily);
	--sapUiFontHeaderWeight: normal;
	--sapMFontHeader1Size: 2.25rem;
	--sapMFontHeader2Size: 1.5rem;
	--sapMFontHeader3Size: 1.250rem;
	--sapMFontHeader4Size: 1.125rem;
	--sapMFontHeader5Size: 1rem;
	--sapMFontHeader6Size: 0.875rem;
	--sapMFontSmallSize: 0.75rem;
	--sapMFontMediumSize: 0.875rem;
	--sapMFontLargeSize: 1rem;
	--sapUiTranslucentBGOpacity: 0;
	--sapMPlatformDependent: false;
	--sapUiDesktopFontFamily: var(--sapUiFontFamily);
	--sapUiDesktopFontSize: 12px;
	--sapUiFontLargeSize: 13px;
	--sapUiFontSmallSize: 11px;
	--sapUiFontHeader1Size: 26px;
	--sapUiFontHeader2Size: 20px;
	--sapUiFontHeader3Size: 18px;
	--sapUiFontHeader4Size: 16px;
	--sapUiFontHeader5Size: 14px;
	--sapUiFontHeader6Size: var(--sapUiFontLargeSize);
	--sapUiLineHeight: 18px;
	
	--sapUiShellContainerBackground: var(--sapUiGroupContentBackground);
	--sapUiShellAltContainerBackground: var(--sapUiShellContainerBackground);
	--sapUiShellGroupTextColor: var(--sapUiTextTitle);
	--sapUiLinkActive: var(--sapUiLink);
	--sapUiLinkVisited: var(--sapUiLink);

	--sapUiNotifierSeparatorWidth: 1px;

	--sapUiButtonActiveBackground: var(--sapUiActive);
	--sapUiButtonActiveBorderColor: var(--sapUiButtonActiveBackground);

	--sapUiButtonEmphasizedHoverBorderColor: var(--sapUiButtonEmphasizedHoverBackground);
	--sapUiButtonEmphasizedActiveBorderColor: var(--sapUiButtonEmphasizedActiveBackground);
	--sapUiButtonEmphasizedTextShadow: transparent;
	--sapUiButtonAcceptBorderColor: var(--sapUiPositiveElement);
	--sapUiButtonAcceptHoverBackground: var(--sapUiSuccessBG);
	--sapUiButtonAcceptHoverBorderColor: var(--sapUiButtonAcceptBorderColor);
	--sapUiButtonAcceptActiveBorderColor: var(--sapUiButtonAcceptActiveBackground);
	--sapUiButtonRejectBorderColor: var(--sapUiNegativeElement);
	--sapUiButtonRejectHoverBackground: var(--sapUiErrorBG);
	--sapUiButtonRejectHoverBorderColor: var(--sapUiButtonRejectBorderColor);
	--sapUiButtonRejectActiveBorderColor: var(--sapUiButtonRejectActiveBackground);
	--sapUiButtonLiteBackground: transparent;
	--sapUiButtonLiteBorderColor: transparent;
	--sapUiButtonLiteTextColor: var(--sapUiButtonTextColor);
	--sapUiButtonLiteHoverBackground: var(--sapUiButtonHoverBackground);
	--sapUiButtonLiteHoverBorderColor: var(--sapUiButtonLiteHoverBackground);
	--sapUiButtonLiteActiveBackground: var(--sapUiButtonActiveBackground);
	--sapUiButtonLiteActiveBorderColor: var(--sapUiButtonLiteActiveBackground);
	--sapUiButtonHeaderTextColor: var(--sapUiButtonTextColor);
	--sapUiButtonHeaderDisabledTextColor: var(--sapUiButtonHeaderTextColor);
	--sapUiButtonFooterHoverBackground: var(--sapUiButtonLiteHoverBackground);
	--sapUiButtonActionSelectBackground: var(--sapUiListBackground);
	--sapUiButtonActionSelectBorderColor: var(--sapUiListBorderColor);
	--sapUiButtonLiteActionSelectHoverBackground: var(--sapUiListHoverBackground);
	--sapUiToggleButtonPressedBackground: var(--sapUiSelected);
	--sapUiToggleButtonPressedBorderColor: var(--sapUiToggleButtonPressedBackground);
	--sapUiToggleButtonPressedHoverBorderColor: var(--sapUiToggleButtonPressedHoverBackground);
	--sapUiSegmentedButtonBackground: var(--sapUiButtonBackground);
	--sapUiSegmentedButtonBorderColor: var(--sapUiButtonBorderColor);

	--sapUiSegmentedButtonHoverBackground: var(--sapUiButtonHoverBackground);
	--sapUiSegmentedButtonActiveBackground: var(--sapUiButtonActiveBackground);
	--sapUiSegmentedButtonSelectedBackground: var(--sapUiToggleButtonPressedBackground);
	--sapUiSegmentedButtonSelectedTextColor: var(--sapUiToggleButtonPressedTextColor);
	--sapUiSegmentedButtonSelectedHoverBackground: var(--sapUiToggleButtonPressedHoverBackground);
	--sapUiSegmentedButtonSelectedHoverBorderColor: var(--sapUiToggleButtonPressedHoverBorderColor);
	--sapUiSegmentedButtonFooterBorderColor: var(--sapUiSegmentedButtonBorderColor);
	--sapUiSegmentedButtonFooterHoverBackground: var(--sapUiSegmentedButtonHoverBackground);
	--sapUiFieldActiveBackground: var(--sapUiActive);
	--sapUiFieldActiveBorderColor: var(--sapUiActive);
	--sapUiFieldActiveTextColor: var(--sapUiContentContrastTextColor);
	--sapUiListTextColor: var(--sapUiBaseText);
	--sapUiListVerticalBorderColor: var(--sapUiListBorderColor);
	--sapUiListActiveBackground: var(--sapUiListHighlightColor);
	--sapUiListFooterTextColor: var(--sapUiListTextColor);
	--sapUiListGroupHeaderBackground: var(--sapUiListBackground);

	--sapUiListTableFooterBorder: var(--sapUiListBorderColor);
	--sapUiListTableTextSize: 0.875rem;
	--sapUiListTableIconSize: 1rem;

	--sapUiInfobarActiveBackground: var(--sapUiListActiveBackground);
	--sapUiCalendarColorToday: var(--sapUiAccent4);
	--sapUiDragAndDropColor: var(--sapUiContentNonInteractiveIconColor);
	--sapUiDragAndDropBackground: var(--sapUiGroupContentBackground);
	--sapUiDragAndDropBorderColor: var(--sapUiContentForegroundBorderColor);
	--sapUiDragAndDropActiveColor: var(--sapUiLink);
	--sapUiDragAndDropActiveBorderColor: var(--sapUiLink);
}